{% extends "base.html" %}

{% block navItemsCollapsed %}
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
{% endblock %}

{% block navItems %}
<li>
<a href="#" onclick="document.getElementById('myForm').submit();">Delete Notification</a>
<form id="myForm" action="/users/{{user.id}}/locations/{{location.id}}/notifications/{{notification.id}}?_method=DELETE" method="POST">
	<input type="hidden" name="someName" value="" />
</form>
</li>
{% endblock %}

{% block content %}
<div id="mainContainer" class="zeroMargin">
	<div id="canvas-container" class="background">
		
	</div>
	<div class="container-fluid z-index-300 down-100px">
		<div class="">
			<div class="text-header text-color">Edit Notification</div>
			<form class="navbar-form navbar-left" action="{{url_for('notifications.show', id=user.id, loc_id=location.id, notif_id=notification.id)}}?_method=PATCH" method="POST">
				{{ form.csrf_token }}
				<div class="form-group">
					{{ form.condition(class="form-control") }}
					{{ form.days_notice(class="form-control") }}
				</div>
				<button type="submit" class="btn btn-default">Save</button>
				<div class="form-group">
					{{ errors }}
				</div>
			</form>
		</div>
	</div>
</div>

<script src="{{url_for('static', filename='js/app.js')}}"></script>
{% endblock %}



<!-- action="{{url_for('users.show', id=user.id)}}?_method=PATCH" -->

<!-- action="/users/{{user.id}}/locations/{{location.id}}/notifications/?_method=PATCH" -->