{% extends "base.html" %}

{% block navItemsCollapsed %}
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
{% endblock %}

{% block navItems %}
<li>
<a href="#" onclick="document.getElementById('myForm').submit();">Delete Account</a>
<form id="myForm" action="/users/{{user.id}}?_method=DELETE" method="POST">
	<input type="hidden" name="someName" value="" />
</form>
</li>
{% endblock %}


{% block content %}
<div id="mainContainer" class="zeroMargin">
	<div id="canvasContainer" class="background">
		
	</div>
	<div class="container-fluid z-index-300 down-100px">
		<div class="">
			<div class="text-header text-color">Edit Account Information</div>
			<form class="navbar-form navbar-left" action="{{url_for('users.show', id=user.id)}}?_method=PATCH" method="POST">
				{{ form.csrf_token }}
				<div class="form-group">
					{{ form.email(class="form-control form-bottom-margin", placeholder="Enter Valid Email", value=user.email) }}
					{{ form.password(class="form-control form-bottom-margin", placeholder="Enter Password") }}
					{{ form.confirm_password(class="form-control form-bottom-margin", placeholder="Confirm Password") }}
					{{ form.first_name(class="form-control form-bottom-margin", placeholder="Enter First Name", value=user.first_name) }}
					{{ form.last_name(class="form-control form-bottom-margin", placeholder="Enter Last Name", value=user.last_name) }}
					{% if user.phone_number %}
						{{ form.phone_number(class="form-control form-bottom-margin", placeholder="Enter Phone Number", value=user.phone_number) }}
					{% else %}
						{{ form.phone_number(class="form-control form-bottom-margin", placeholder="Enter Phone Number") }}
					{% endif %}
				</div>
				<button type="submit" class="btn btn-default">Save Changes</button>
				<div class="form-group">
					{{ error }}
				</div>
			</form>
		</div>
	</div>
</div>

<script src="{{url_for('static', filename='js/app.js')}}"></script>
{% endblock %}