{% extends "base.html" %}

{% block content %}
<div id="mainContainer" class="zeroMargin">
	<div id="canvasContainer" class="background">
		
	</div>
	<div class="container-fluid z-index-300 down-100px">
		<div class="">
			<div class="text-header text-color">Edit Account Information</div>
			<form class="navbar-form navbar-left" action="{{url_for('users.show', id=user.id)}}?_method=PATCH" method="POST">
				{{ form.csrf_token }}
				<div class="form-group">
					{{ form.email(class="form-control form-bottom-margin", placeholder="Enter Valid Email", value=user.email) }}
					{{ form.password(class="form-control form-bottom-margin", placeholder="Enter Password") }}
					{{ form.confirm_password(class="form-control form-bottom-margin", placeholder="Confirm Password") }}
					{{ form.first_name(class="form-control form-bottom-margin", placeholder="Enter First Name", value=user.first_name) }}
					{{ form.last_name(class="form-control form-bottom-margin", placeholder="Enter Last Name", value=user.last_name) }}
				</div>
				<button type="submit" class="btn btn-default">Save Changes</button>
				<div class="form-group">
					{{ error }}
				</div>
			</form>
			<form class="navbar-form navbar-left" action="/users/{{user.id}}?_method=DELETE" method="POST">
				<button type="submit" class="btn btn-default">Delete Account</button>
			</form>
		</div>
	</div>
</div>

<script src="{{url_for('static', filename='js/app.js')}}"></script>
{% endblock %}