{% extends "base.html" %}

{% block content %}
<div id="mainContainer" class="zeroMargin">
	<div id="canvasContainer" class="background">
		
	</div>
	<div class="container-fluid z-index-300 down-100px">
		<div class="">
			<div class="text-header text-color">Log In</div>
			<form class="navbar-form navbar-left" action="{{url_for('users.login')}}" method="POST">
				{{ form.csrf_token }}
				<div class="form-group">
					{{ form.email(class="form-control form-bottom-margin", placeholder="Enter Email") }}
					{{ form.password(class="form-control form-bottom-margin", placeholder="Enter Password") }}
				</div>
				<div>
					<button type="submit" class="btn btn-default">Log In</button>
				</div>
				<div class="form-group">
					{{ error }}
				</div>
			</form>
		</div>
		
	</div>
</div>

<script src="{{url_for('static', filename='js/app.js')}}"></script>
{% endblock %}