.zeroMargin {
	margin: 0px;
	padding: 0px;
}

#canvasContainer {
	/*position: absolute;*/
}


.topButtons {
	position: absolute;
	top: 10px;
}

.btnMargin {
	margin-right: 10px;
}


#search_public {
	position: absolute;
	top: 300px;
}


/* weather_stats.html------------------ */

.weather-stats {
	position: absolute;
	top: 500px;
}

#titleDividerLine{
	border-bottom: 1px solid #FFFFFF;
	margin-bottom: 20px
}
