.zeroMargin {
	margin: 0px;
	padding: 0px;
}

#canvasContainer {
	/*position: absolute;*/
}


.topButtons {
	position: absolute;
	top: 10px;
}

.btnMargin {
	margin-right: 10px;
}


#search_public {
	position: absolute;
	top: 300px;
}

