body {
    background-color: #aed200;
}

.zero-margin {
    margin: 0;
    padding: 0;
}

.flushed-top {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.top-buttons {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 500;
}

.btn-margin {
    margin-right: 10px;
}

.btn-bottom-margin {
    margin-bottom: 10px;
}

.form-bottom-margin {
    margin-bottom: 10px;
}

#search-public {
    position: absolute;
    top: 300px;
}

.view-box {
    position: relative;
    top: 20px;
    height: 50px;
}

.index-loc-name {
    font-family: sans-serif;
    font-size: 20px;
}

.text-color {
    color: #fff;
}

.text-header {
    font-size: 1.3em;
}

.navbar-form, .navbar-left {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.z-index-300 {
    position: relative;
    z-index: 300;
}

.flush-right {
    text-align: right;
}

.flush-left {
    text-align: left;
}

.down-350px {
    position: relative;
    top: 350px;
}

.down-250px {
    position: relative;
    top: 250px;
}

.down-100px {
    position: relative;
    top: 100px;
}

.nav li {
    display: inline;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.3);
}

#navbar {
    color: #fff;
}

.user {
    font-size: .7em;
    vertical-align: middle;
}

.nav-btn:link {
    text-decoration: none;
    color: #000;
}

.nav-btn:visited {
    text-decoration: none;
}

.navbar-nav {
    color: #fff;
}

.navbar-home-link {
    text-decoration: none;
    color: #fff;
}

.navbar-home-link:hover {
    text-decoration: none;
    color: #000;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #000;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #000;
}

.weather-stats {
    position: relative;
    top: 500px;
}

#title-divider-line {
    margin-bottom: 20px;
}

.top-divider-line {
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
}

.divider-line {
    border-bottom: 1px solid #fff;
}

.user-box {
    margin-bottom: 15px;
}

.info-box {
    border-bottom: 1px solid #fff;
    height: 60px;
}

.public-temp {
    color: #fff;
    font-size: 40px;
}

.public-condition {
    color: #fff;
}

#box {
    height: 100px;
}

.border {
    border: 1px solid #f00;
}

.center {
    text-align: center;
}

.icon-scale {
    width: 100px;
    height: 100px;
}

.white {
    color: #fff;
}

.left-tiny-margin {
    padding-left: 3px;
}

.right-tiny-margin {
    padding-right: 3px;
}

#icon-large {
    position: relative;
    width: 180px;
    height: 180px;
    top: 80px;
}

#view-location-temp {
    color: #fff;
    position: relative;
    top: 60px;
    font-size: 60px;
    text-shadow: 0 0 12px #777;
}

#view-location-name {
    color: #fff;
    position: relative;
    top: 40px;
    font-size: 25px;
    text-shadow: 0 0 6px #777;
}

#weather-details {
    position: relative;
    top: 80px;
}

#sub-details {
    height: 220px;
    border-bottom: 1px solid #fff;
}

.icon-small {
    width: 30px;
    height: 30px;
}

#forecast-section {
    width: 300px;
    margin: 0 auto;
}

.top-spacing-15px {
    margin-top: 15px;
}

.bottom-spacing-15px {
    margin-bottom: 15px;
}

.forecast-col1 {
    display: inline-block;
    width: 120px;
    text-align: right;
}

.forecast-col2 {
    display: inline-block;
    width: 60px;
    text-align: center;
}

.forecast-col3 {
    display: inline-block;
    width: 40px;
}

.forecast-col4 {
    display: inline-block;
    width: 40px;
}
