{% extends "base.html" %}

{% block content %}
<div id="mainContainer" class="zeroMargin">
	<div id="canvasContainer" class="background">
		
	</div>
	<div class="container-fluid z-index-300">
		<h1>Weather Locations</h1>
		<div class="view-box">
			<div class="col-xs-6">
				<div class="full-name">{{user.first_name+" "+user.last_name}}</div>
				<div class="sub-info">
					{{"Email: "+user.email}}
				</div>
			</div>
			<div class="col-xs-6 view-btn2 flush-right">
				<a href="/users/{{user.id}}/locations/new">
					<button class="btn btn-default">New Location</button>
				</a>
				<a href="/users/{{user.id}}/edit">
					<button class="btn btn-default">Edit</button>
				</a>
				
			</div>
		</div>
	</div>
	<div class="container-fluid down-250px">
		<div class="top-divider-line"></div>
		{% for location in locations %}
			<div class="user-box info-box">
				<div class="col-xs-10">
					<div class="full-name">{{location.location}}</div>
					<div class="full-name">{{location.last_updated}}</div>
				</div>
				<div class="col-xs-2 view-btn">
					<a href="/users/{{user.id}}/locations/{{location.id}}"><button class="btn btn-default">View</button></a>
				</div>
			</div>
		{% endfor %}
	</div>


</div>
<script src="{{url_for('static', filename='js/app.js')}}"></script>
{% endblock %}


