{% extends "base.html" %}

{% block content %}
	<h1>View Locations for: {{user.first_name}}</h1>
	
	<div class="new-btn">
		<a href="/users/{{user.id}}">
			<button class="btn btn-default">Back</button>
		</a>
		<a href="/users/{{user.id}}/tweets/new">
			<button class="btn btn-default">New Location</button>
		</a>
	</div>
	
	<div id="titleDividerLine"></div>
	{% for location in locations %}
		<div class="user-box info-box">
			<div class="col-xs-10">
				<div class="full-name">{{location.location}}</div>
				<div class="full-name">{{location.last_updated}}</div>
			</div>
			<div class="col-xs-2 view-btn">
				<a href="/users/{{user.id}}/locations/{{location.id}}"><button class="btn btn-default">View</button></a>
			</div>
		</div>
	{% endfor %}
{% endblock %}