{% extends "base.html" %}

{% block content %}
<div id="mainContainer" class="zeroMargin">
	<div id="canvas-container" class="background">
		
	</div>
	<div class="container-fluid z-index-300 down-100px">
		<div class="">
			<div class="text-header text-color">New Location To Follow</div>
			<form class="navbar-form navbar-left" action="/users/{{user.id}}/locations/" method="POST">
				{{ form.csrf_token }}
				<div class="form-group">
					{{ form.new_location(class="form-control", placeholder="Enter City") }}
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
				<div class="form-group">
					{{ errors }}
				</div>
			</form>
		</div>
	</div>
</div>

<script src="{{url_for('static', filename='js/app.js')}}"></script>
{% endblock %}