{% extends "base.html" %}

{% block navItemsCollapsed %}
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
{% endblock %}

{% block navItems %}
<li><a href="/users/{{user.id}}/locations/{{location.id}}/notifications">Notifications</a></li>
<li>
<a href="#" onclick="document.getElementById('myForm').submit();">Delete Location</a>
<form id="myForm" action="/users/{{user.id}}/locations/{{location.id}}?_method=DELETE" method="POST">
	<input type="hidden" name="someName" value="" />
</form>
</li>
{% endblock %}

{% block content %}
<div id="mainContainer" class="zeroMargin">
	<div id="canvasContainer" class="background">
		
	</div>
	<div class="container-fluid z-index-300">
		<div class="col-xs-12 center">
			<img src="{{icon_bitmap}}" id="icon_large" alt="">
			<p id="view_locationTemp">{{current_temp}}</p>
			<p id="view_locationName">{{current.name}}</p>
		</div>
	</div>
	<div id="weatherDetails" class="container-fluid">
		<div class="top-divider-line"></div>
		<div id="subDetails" class="white">
			<div class="col-xs-6 flush-right right-tiny-margin">
				<p>Current Conditions:<br/>
				<br/>
				Humidity:<br/>
				Pressure:<br/>
				<br/>
				Wind Speed:<br/>
				Wind Direction:<br/>
				<br/>
				Sunrise:<br/>
				Sunset:</p>
			</div>
			<div class="col-xs-6 left-tiny-margin">
				<p>{{current_condition}}<br/>
				<br/>
				{{humidity}}%<br/>
				{{pressure}} hPa<br/>
				<br/>
				{{wind_speed}} meter/sec<br/>
				{{wind_dir}} degrees<br/>
				<br/>
				{{sunrise_time}}<br/>
				{{sunset_time}}</p>
			</div>
		</div>
		<div class="white">
			<div id="forecast_section">
				<div class="flush-left top-spacing-15px">
					<span class="forecast-col1">{{day1}}</span>
					<span class="forecast-col2"><img src="{{day1_icon}}" class="icon-small" alt=""></span>
					<span class="forecast-col3">{{day1_temp_max}}</span>
				</div>
				<div class="flush-left">
					<span class="forecast-col1">{{day2}}</span>
					<span class="forecast-col2"><img src="{{day2_icon}}" class="icon-small" alt=""></span>
					<span class="forecast-col3">{{day2_temp_max}}</span>
				</div>
				<div class="flush-left">
					<span class="forecast-col1">{{day3}}</span>
					<span class="forecast-col2"><img src="{{day3_icon}}" class="icon-small" alt=""></span>
					<span class="forecast-col3">{{day3_temp_max}}</span>
				</div>
				<div class="flush-left">
					<span class="forecast-col1">{{day4}}</span>
					<span class="forecast-col2"><img src="{{day4_icon}}" class="icon-small" alt=""></span>
					<span class="forecast-col3">{{day4_temp_max}}</span>
				</div>
				<div class="flush-left bottom-spacing-15px">
					<span class="forecast-col1">{{day5}}</span>
					<span class="forecast-col2"><img src="{{day5_icon}}" class="icon-small" alt=""></span>
					<span class="forecast-col3">{{day5_temp_max}}</span>
				</div>
			</div>
		</div>
		<div class="top-divider-line"></div>


	</div>


</div>
<script>
	var wdata="{{wdata}}";
	var w_code="{{w_code}}";
	var wind_speed="{{wind_speed}}";
</script>
<script src="{{url_for('static', filename='js/app.js')}}"></script>	
{% endblock %}
